
h1{
    color: #f1f1f1;
    padding-left: 5%;
    padding-bottom: 5%;
}

.card{
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
/*    overflow: hidden;*/
    border-radius: 20px;
    width: 300px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

li{
    float: left;
}

#lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
}

.imagen {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0%;
}

.img1 img{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 0px;
}

    

/*main es el texto de la tarjeta*/
.main-text{
    float:right;
    padding: 0px 0;
    text-align: center;
    display: inline;
    position: absolute;
    top: 50%;
    height: 200px;
    
    
}

.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p{
    font-size: 16px;
    padding: 0 35px;
    
}
