<h1>Mis habilidades</h1>
<div class="container">
    
    <div class="logo">
        <img src="../../../assets/html.png" id="imagen">
    </div>
    <div class="circle-wrap">
        <div>
            <div class="circle">
                <div class="inside-circle"> 75% 
                </div>
                <div class="mask half">
                    <div class="fill">
                    </div>
                    <div class="mask full">
                        <div class="fill">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      <!--
      <div class="circle-wrap">
        <div class="circle">
        <div class="inside-circle" > 75% </div>
            <div class="mask half">
                <div class="fill"></div>
                <div class="mask full">
                    <div class="fill"></div>
                 </div>
            </div>
        </div>
      </div>

     -->















    <!--<div class="row">
        <div>
            <div class="aptitudes py-5">
                
                <div class="d-flex">
                    <span>HTML</span>
                    <div class="outbox">
                        <div class="innerbox">
                        </div>
                    </div>
                    <span>95%</span>
                </div>
                <div class="d-flex">
                    <span>CSS</span>
                    <div class="outbox">
                        <div class="innerbox">

                        </div>
                    </div>
                    <span>35%</span>
                </div>
            </div>
        </div>
    </div>-->
