<div class="education-area">
  <h1>Educacion</h1>
  <div class="container">
    <div class="row">
      <ul class="item-list"> 
        <li *ngFor="let educacion of datosEdu.userEdu">
      <div class="">
        <div class="card">
          <div class="establecimiento"></div>
          <div class="logo"><img [src]="educacion.url_img_establecimiento" class="logoEdu"></div>
          <div class="main-text">
            <h2>{{educacion.titulo}}</h2>
            <h2>{{educacion.establecimiento}}</h2>
            <p>{{educacion.fecha_inicio}}-{{educacion.fecha_fin}}</p>
          </div>
        </div>
      </div> <br><br>
      </li>
      </ul>
    </div>
  </div>