<div class="row">
    <div class="column">
    <img src="../../../assets/argProg-Logo.png" id="logoAP">
    </div>

    <div class="column">
    <div class="redes">
    <img src="../../../assets/wsp2.png" width="70px" id="icon">
    <img src="../../../assets/linkedin2.png" width="70px" id="icon">
    <img src="../../../assets/github2.png" width="70px" id="icon">
    <button class="btn"><img src="../../../assets/verificationOff.png" width="70 px"/></button>
    </div>
    </div>
</div>

<!--
html logo

    <img src="../../../assets/argProg-Logo.png" id="logoAP">

css logo

#logoAP{
    width: 200px;
    margin-left:10%;
}



html redes sociales

<div class="redes">
    <img src="../../../assets/wsp2.png" width="70px" id="icon">
    <img src="../../../assets/linkedin2.png" width="70px" id="icon">
    <img src="../../../assets/github2.png" width="70px" id="icon">
    <button class="btn"><img src="../../../assets/verificationOff.png" width="70 px"/></button>
    </div>


    css redes sociales

    .redes{
    margin-top: 8%;
    float: right;
    
}
#icon{
    padding: 2%;
}


-->