<div class="container">
  <!--<button type="submit" class="btn btn-primary" (click)="editarPersona()"> Nuevo </button>-->
<br>
  
    <form [formGroup]="acerca" (ngSubmit) = "postForm(acerca.value)"> <!-- (ngSubmit)="postForm(acerca.value)"> <!-- //esto es de jose aleman -->

   <button type="submit" class="btn btn-primary" > Guardar </button> 
   <!--<button type="button" class="btn btn-danger" (click)="nuevo(acerca)" > Eliminar </button> -->

   <!-- <button type="submit" class="btn btn-primary" (click)="editarPersona()" > Guardar </button> -->


<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Id" aria-label="Id" aria-describedby="basic-addon2" formControlName="id">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Nombre" aria-label="nombre" aria-describedby="basic-addon2" formControlName="nombre">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Apellido" aria-label="apellido" aria-describedby="basic-addon2" formControlName="apellido">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Ocupacion" aria-label="ocupacion" aria-describedby="basic-addon2" formControlName="ocupacion">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Mail" aria-label="mail" aria-describedby="basic-addon2" formControlName="mail">
</div>
<div class="input-group">
  <span class="input-group-text">Acerca de mi</span>
  <textarea class="form-control" aria-label="acercaDe" formControlName="acercaDe"></textarea>
</div>
<div class="input-group">
  <span class="input-group-text">Banner</span>
  <textarea class="form-control" aria-label="urlImgBackground" formControlName="urlImgBackground"></textarea>
</div>
<div class="input-group">
  <span class="input-group-text">Perfil</span>
  <textarea class="form-control" aria-label="urlImgPerfil" formControlName="urlImgPerfil"></textarea>
</div>

</form>
</div>